.conteiner {
    display: flex;
    border: solid 2px red;
  }
  
  
  #evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
  }
  
  #trybewarts-forms-logo {
    height: 500px;
  }
  
  .conteiner-nome-sobrenome {
    display: flex;
    margin: 10px;
  }
  
  .conteiner-email-casa {
    display: flex;
    margin: 10px;
  }
  
  .familia {
    margin: 10px;
  }
  
  .header{
    background-color: rgb(50, 167, 145);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.trybewarts-login{
    display: flex;
}
.trybewarts-header-logo{
    width: 60px;
}
#trybewarts-header-title{
    display: flex;
    justify-content: center;
}
  
  
  
  
  
  